## Questions

In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
    
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

Q3. Create a Pandas DataFrame that contains the following data:
Name   Age   Gender
Alice  25    Female
Bob    30    Male 
Claire 27    Female

Then, print the DataFrame.
    
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [2]:
import pandas as pd

In [4]:
data=[4,8,15,16,23,42]
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
variable=[1,2,3,4,5,6,7,8,9,0]

In [9]:
type(variable)

list

In [10]:
series=pd.Series(variable)

In [11]:
print(series)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

In [13]:
data={
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']    
}

In [14]:
df=pd.DataFrame(data)

In [15]:
df.head()

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
## 

✅ Pandas Series
A Series is a one-dimensional labeled array.

It holds data of any type: integers, strings, floats, etc.

Think of it as a single column of data with an index.

✅ Pandas DataFrame
A DataFrame is a two-dimensional labeled data structure.

It consists of rows and columns, like a table in SQL or Excel.

Each column in a DataFrame is a Series.

In [16]:
import pandas as pd

# Series: One-dimensional
age_series = pd.Series([25, 30, 27], name='Age')
print("Series:\n", age_series)

# DataFrame: Two-dimensional
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print("\nDataFrame:\n", df)

Series:
 0    25
1    30
2    27
Name: Age, dtype: int64

DataFrame:
      Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [17]:
import pandas as pd

# Sample data
df = pd.DataFrame({
    'Region': ['North', 'South', 'East', 'North', 'South'],
    'Sales': [250, 300, 150, 400, 350]
})

# Group by region and calculate mean sales
average_sales = df.groupby('Region')['Sales'].mean()
print(average_sales)

Region
East     150.0
North    325.0
South    325.0
Name: Sales, dtype: float64

In [ ]:
All three — Series, DataFrame, and Panel — are mutable in nature.

This means their contents (such as data, index, or structure) can be changed after creation. However, 
it's important to note that Panel is now deprecated in Pandas, and it's recommended to use MultiIndex DataFrames or libraries 
like xarray for handling 3D data.

In [18]:
import pandas as pd

# Create individual Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Combine Series into a DataFrame
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Gender': genders
})

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female